#main {
    background-color: rgb(214, 214, 205);
}

.date {
    font-weight: bold;
}

li {
    line-height: 2;
}

ul {
    display: block;
    align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

h1 {
    padding-top: 3%;
    text-align: center;
}
p {
    text-align:center;
}
.info {
    display: flex;
    align-items: center;
}

#image {
    width: 100%;
    height: auto;
}